JWT_SECRET=

DB_USER_NAME=
DB_PASSWORD=
MONGODB_URI=

SUPABASE_DB_PASSWORD=
SUPABASE_PROJECT_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_DIRECT_CONNECTION_STRING=

# CHANGE 1: Remove "/rest/v1/" from the end so Auth routing handles sub-paths correctly
NEXT_PUBLIC_SUPABASE_URL=

# CHANGE 2: Paste your secret service_role key here
SUPABASE_SERVICE_ROLE_KEY=

TRIAL_EXPIRATION_DAYS=

RESEND_API_KEY=